<!DOCTYPE html>
<html>

<head>
    <title>Flash Cards</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div ng-app="FlashCards" ng-controller="MainController">
        <div class="flash-card" ng-controller="FlashCardController" ng-repeat="card in flashCards">
            <h1>{{card.question}}</h1>
            <ul class="flash-card-answers">
                <li class="flash-card-answer" ng-repeat="answer in card.answers" ng-click="answerQuestion(answer)">
                    {{answer.text}}
                </li>
            </ul>
            <h2 class="answer-feedback" ng-show="answered">
    					<span ng-show="answeredCorrectly">Yeah, you got it right!</span>
					    <span ng-show="!answeredCorrectly">Nope, you got it wrong.</span>
					  </h2>
        </div>
    </div>
    <script src="/angular.js"></script>
    <script src="/app.js"></script>
    <script>
    var app = angular.module("FlashCards", []);

    app.controller("FlashCardController", function($scope) {
        $scope.flashCard = {
            question: 'What is Angular?',
            answers: [{
                text: 'A front end ....',
                correct: true
            }, {
                text: 'Something ...',
                correct: false
            }, {
                text: 'Some kind ...',
                correct: false
            }]
        }
        $scope.answerQuestion = function(answer) {
            $scope.answered = true;
            if (answer.correct) {
                $scope.answeredCorrectly = true;
            } else {
                $scope.answeredCorrectly = false;
            }
        }
    })

    app.controller("MainController", function($scope) {
        $scope.flashCards = [{
            question: 'What is Angular?',
            answers: [{
                text: 'A front-end framework for great power!',
                correct: true
            }, {
                text: 'Something lame, who cares, whatever.',
                correct: false
            }, {
                text: 'Some kind of fish, right?',
                correct: false
            }]
        }, {
            question: 'What is a controller?',
            answers: [{
                text: 'Something that manages my front-end routes',
                correct: false
            }, {
                text: 'A function that allows me to manage a scope',
                correct: true
            }, {
                text: 'An Angular template',
                correct: false
            }]
        }, {
            question: 'What does {{ }} do?',
            answers: [{
                text: 'It runs some Javascript',
                correct: false
            }, {
                text: 'It looks for variables in HTML',
                correct: false
            }, {
                text: 'It runs an Angular expression that accesses my $scope',
                correct: true
            }]
        }];
    })
    </script>
</body>

</html>